@import "nib"

html, body
	position absolute
	width 100%
	height 100%
	background #cdd4dc url(bg.png)

#headerbar
	position absolute
	width 100%
	height 70px

#mainbox
	position absolute
	top 100px
	bottom 30px
	left 30px
	right 30px
	background white
	border-radius 3px
	box-shadow 0 1px 2px 0 rgba(0,0,0,0.4)